/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

html{
  font-size:74%;
}







/*********************
HERO
*********************/
.hero-container  {
  min-height: 700px;
}