html,
body{
  height:100%;
}
body{
  //background: $grey8;
}

img{
  display: inline-block;
  width:auto; // required for height: auto to work in IE8
  max-width:100%;
  height:auto;
}
iframe{
  max-width: 100%;
}
table{
  width: 100%;
  th{
    text-align: left;
    color:$white;
    cursor: pointer;
  }
  tr{
    &:nth-child(odd){
    }
    a{
      color:$color-link;
    }
  }
}
section{
  clear: both;
}
.inner{
  width:1000px;
  max-width:100%;
  margin: 0 auto;
  clear: left;
}
.row{
  clear: both;
}
.pagination{
  margin: 20px auto;
  text-align: center;
  li{
    display: inline-block;
    padding: 0;
    margin: 2px;
    border: none;
    &.active,
    &.disabled{
      padding: 10px 16px;
    }
    a{
      background:$grey7;
      color:$grey4;
      padding: 10px 16px;
      display: block;
      &:hover{
        background:$white;
      }
    }
  }
}



.full-height{
  height: 100%;
}
.hide{
  display: none !important;
}
.hide-on-mobile{
  display: none;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.flex-center{
  display: flex;
  //align-items: center;
  justify-content: center;
}
.flex-column{
  flex-direction: column;
  flex: 1;
}
.flex-row{
  flex-direction: row;
  flex: 1;
}


.bg-light{
  background:$grey8;
}
.bg-dark{
  background:$grey2;
}
.bg-white{
  background:$white;
}
.bg-theme_colour_1{

}
.bg-theme_colour_2{

}
.bg-theme_colour_3{

}
.bg-theme_colour_4{

}

// FLOATS
.clear{
  clear: both;
}
.pull-left{
  float: left !important;
}
.pull-right{
  float: right !important;
}
.pull-center{
  margin-left:auto;
  margin-right: auto;
}

// TEXT ALIGNMENT
.text-left{
  text-align:left;
}
.text-right{
  text-align:right;
}
.text-center{
  text-align:center;
}

// IMAGE ALIGNMENT
.alignleft, img.alignleft { 
  margin-right: 20px;
  margin-bottom: 20px; 
  display: inline; 
  float: left; 
}
.alignright, img.alignright { 
  margin-left: 20px;
  margin-bottom: 20px; 
  display: inline; 
  float: right; 
}
.aligncenter, img.aligncenter { 
  margin-right: auto; 
  margin-left: auto; 
  display: block; 
  clear: both; 
}
.pad{
  padding: $padding $padding $padding $padding;
}

// BORDERS
.border-top{
  border-top: 1px solid $grey6;
}
.border-right{
  border-right: 1px solid $grey6;
}
.border-bottom{
  border-bottom: 1px solid $grey6;
}
.border-left{
  border-left: 1px solid $grey6;
}


// THUMBNAILS
.thumbnail{
  float:left;
  position: relative;
  max-width: 100%;
}

// ANIMATIONS
.shaking{
  animation: shake 0.6s linear infinite 0s;
}


/*********************
GRID
*********************/
.col6-sm{
  width: 50%;
  position: relative;
  float: left;
}



