*, *:before, *:after {
  box-sizing: border-box;
}
#dropshop-background-colour{
  a{
    display: inline-block;
    border: 6px solid #eee;
    border-radius:100%;
    height:60px;
    width:60px;
    float: left;
    outline: none;
    transition: border-width 0.1s ease-in;
    &.selected{
      border-width: 0px;
    }
  }
}