/* line 1, ../scss/admin-style.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 5, ../scss/admin-style.scss */
#dropshop-background-colour a {
  display: inline-block;
  border: 6px solid #eee;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  float: left;
  outline: none;
  -webkit-transition: border-width 0.1s ease-in;
          transition: border-width 0.1s ease-in;
}
/* line 14, ../scss/admin-style.scss */
#dropshop-background-colour a.selected {
  border-width: 0px;
}
